<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-checkbox class="checklist-leaf-node" *ngIf="multi; else singleSelectionTemplate1"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="leafItemSelectionToggle(node)">{{node.text}}</mat-checkbox>
    <ng-template #singleSelectionTemplate1>
      <mat-checkbox (change)="checklistSelection.toggle(node)">{{node.text}}</mat-checkbox>
    </ng-template>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <mat-checkbox [checked]="descendantsAllSelected(node)" *ngIf="multi; else singleSelectionTemplate2"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="itemSelectionToggle(node)">{{node.text}}</mat-checkbox>

    <ng-template #singleSelectionTemplate2>
      <mat-checkbox (change)="checklistSelection.toggle(node)">{{node.text}}</mat-checkbox>
    </ng-template>
  </mat-tree-node>
</mat-tree>

